.env
data/
_local/
mlflow.db
mlruns/
mlartifacts/
dist/
build/
*.egg-info/
__pycache__/
*.pyc
.pytest_cache/
.ruff_cache/
.databricks/
spark-warehouse/
.venv/
.ipynb_checkpoints/
.DS_Store
.vscode/
.idea/
